
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #001;
    color: #fff;
}

img {
    width: 100%;
}

button {
    border: none;
    color: #fff;
}

.main {
    
    max-width: 900px;
    /* background-image: url('../images/hud-frame-vertical.png'); */
}

.ui-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.ui-interface {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 340px;
    position: relative;
}

.display {
    width: 120px;
    height: 60px;
    border: 2px solid #444;
    z-index: 2;
    background-color: #053544;
    border-radius:15px;
}

.outer-circle {
    position: absolute;
    width: 330px;
    height: 330px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(8, 136, 227, 0.8),
    rgba(1, 111, 188, .1) 94%);
}

.cross1,
.cross2 {
    position: absolute;
    background-color: rgb(156, 130, 145);
    width: 330px;
    height: 12px;
}
.cross1 {
    transform: rotate(45deg);
}

.cross2 {
    transform: rotate(-45deg);
}

.outer-transparent-circle {
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    z-index: 1;
    background-color: #001;
}

.medium-inner-circle {
    position: absolute;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(7, 108, 190, 0.7) 60%,
    rgba(4, 100, 169, 0.2));
}

.small-inner-circle {
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(8, 136, 227, 0.8) 10%,
    rgba(1, 9, 15, 0.8));
}

.smallest-inner-circle {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 1;
    background-color: #001;
}

.inner-transparent-circle {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid #888;
    z-index: 1;
}

.inner-display-border-circle {
    position: absolute;
    width: 141px;
    height: 141px;
    border-radius: 50%;
    border: 5px solid #23FCFE;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    z-index: 1;
    animation: rotate 3s infinite linear;
}

.small-circle {
    position: absolute;
    top: 16px;
    left: 45px;
    width: 25px;
    height: 25px;
    background-image: url('../images/roda.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: rotate 3s infinite linear;
}

.small-circle2 {
    position: absolute;
    top: 16px;
    left: 69px;
    width: 25px;
    height: 25px;
    background-image: url('../images/roda1.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: rotateLeft 3s infinite linear;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    border: 2px solid white;
    width: 80%;
    padding: 1rem;
    background: #000B23;
    box-shadow: 0 8px 62px 0 rgba(56, 63, 156, 0.37);
    backdrop-filter: blur( 18.5px );
    -webkit-backdrop-filter: blur( 18.5px );
    border-radius: 10px;
    border: 1px solid rgba(35, 252, 254, .3);
}

.key1 {
    --grad: transparent 29.5%, rgba(35, 252, 254, .3) 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
    linear-gradient(to top right   ,var(--grad)) top    right,
    linear-gradient(to top left    ,var(--grad)) top    left,
    linear-gradient(to bottom right,var(--grad)) bottom right,
    linear-gradient(to bottom left ,var(--grad)) bottom left, rgba(35, 252, 254, 0.03);
    background-size: 15px 19px;
    background-repeat: no-repeat;
    background-origin: border-box;
    /* border: 1px solid rgba(35, 252, 254, .3); */
    width: 50px;
    height: 50px;

    clip-path: polygon(18px 0%, calc(100% - 18px) 0%, 100% 18px, 100% calc(100% - 18px), calc(100% - 18px) 100%, 18px 100%, 0% calc(100% - 18px), 0% 18px);
}




@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateLeft {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}