
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grad: transparent 29.5%, rgba(35, 252, 254, .3) 50%;
    --blue: transparent 29.5%, rgba(75, 130, 212, 0.9) 50%;
    --green: transparent 29.5%, rgba(76, 138, 73, 0.9) 50%;

    --primary-dark: #001;
    --keypad-shadow: rgba(56, 63, 156, 0.37);


}

body {
    background-color: var(--primary-dark);
    color: #001;
    font: 900;
}

img {
    width: 100%;
}

button {
    border: none;
    color: rgba(255, 255, 255, .6);
    font-size: 1.2rem;
}

.main {
    max-width: 1100px;
    margin: 0 auto;
}

.operator {
    font-size: 1.6rem;
}

.ui-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    min-height: 100vh;
    max-width: 500px;
}

.ui-interface {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 310px;
    position: relative;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: .5rem;
    width: 200px;
    height: 60px;
    border: 2px solid var(--primary-dark);
    z-index: 3;
    background-color: #053544;
    border-radius:15px;
    padding-right: .7rem;
    animation: neon 2s 2.8s forwards;
}

.big-calc {
    font-size: 1.36rem;
    height: 30px;
    margin-bottom: 4px
}
.small-calc {
    color: rgba(20, 25, 25, .8);
    font-size: .7rem;
    height: 25px;
    margin-top: 4px;
}

.display-shadow {
    position: absolute;
    width: 215px;
    height: 70px;
    background-color: #001;
    z-index: 2;
    border-radius: 20px;
}

.outer-circle {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(8, 136, 227, 0.8),
    rgba(1, 111, 188, .1) 94%);

}
/* .outer-circle:hover{
    box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px yellow,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px blue,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
} */

.not-compute {
    box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px yellow,
    inset -20px 0 80px rgb(220, 151, 151),
    inset 20px 0 300px rgb(195, 64, 64),
    inset -20px 0 300px rgb(236, 6, 6),
    0 0 50px #fff,
    -10px 0 80px rgb(251, 4, 4),
    10px 0 80px rgb(253, 2, 2);
}

.cross1,
.cross2 {
    position: absolute;
    background-color: rgb(156, 130, 145);
    width: 300px;
    height: 12px;
}
.cross1 {
    animation: crossLeft 3s forwards, neon 3s 2s forwards;
}

.cross2 {
    animation: crossRight 3s  forwards, neon 3s 2s forwards;
}

.outer-transparent-circle {
    position: absolute;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    z-index: 1;
    background-color: #001;
}


.medium-inner-circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(7, 108, 190, 0.7) 60%,
    rgba(4, 100, 169, 0.2));
}

.small-inner-circle {
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(8, 136, 227, 0.8) 10%,
    rgba(1, 9, 15, 0.8));
}

.smallest-inner-circle {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 1;
    background-color: var(--primary-dark);
}

.inner-transparent-circle {
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 3px solid #888;
    z-index: 1;
}

.inner-display-border-circle {
    position: absolute;
    width: 141px;
    height: 141px;
    border-radius: 50%;
    border: 5px solid #23FCFE;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    z-index: 1;
    animation: rotate 3s infinite linear;
}

.small-circle {
    position: absolute;
    top: 16px;
    left: 45px;
    width: 25px;
    height: 25px;
    background-image: url('../images/roda.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: rotate 3s infinite linear;
    z-index: 2;
}

.small-circle2 {
    position: absolute;
    top: 16px;
    left: 69px;
    width: 25px;
    height: 25px;
    background-image: url('../images/roda1.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: rotateLeft 3s infinite linear;
    z-index: 3;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
    box-shadow: 0 8px 62px 0 var(--keypad-shadow);
    backdrop-filter: blur( 18.5px );
    -webkit-backdrop-filter: blur( 18.5px );
    border-radius: 10px;
    width: 350px;
    position: relative;
    top: -60px;
    z-index: 10;
}





.keys {
    display: flex;
    justify-content: center;
    align-items: center;
    background:
    linear-gradient(to top right   ,var(--grad)) top    right,
    linear-gradient(to top left    ,var(--grad)) top    left,
    linear-gradient(to bottom right,var(--grad)) bottom right,
    linear-gradient(to bottom left ,var(--grad)) bottom left, rgba(35, 252, 254, 0.03);
    background-size: 15px 19px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;

    clip-path: polygon(18px 0%, calc(100% - 18px) 0%, 100% 18px, 100% calc(100% - 18px), calc(100% - 18px) 100%, 18px 100%, 0% calc(100% - 18px), 0% 18px);
}
.keys:hover {
    background:
    linear-gradient(to top right   ,var(--green)) top    right,
    linear-gradient(to top left    ,var(--blue)) top    left,
    linear-gradient(to bottom right,var(--blue)) bottom right,
    linear-gradient(to bottom left ,var(--green)) bottom left, rgba(35, 252, 254, 0.03);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.btn0 {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 130px;
}
.btnEqual {
    grid-row: 4/ span 2;
    grid-column: 4;
    height: 116px;
}

.btn-operator-clr {
    background:
    linear-gradient(to top right   ,var(--green)) top    right,
    linear-gradient(to top left    ,var(--green)) top    left,
    linear-gradient(to bottom right,var(--blue)) bottom right,
    linear-gradient(to bottom left ,var(--blue)) bottom left, rgba(54, 102, 197, 0.1);
    background-size: 15px 19px;
    background-repeat: no-repeat;
    /* color: rgba(75, 130, 212, 0.9); */
    color: #007BFF;
    text-shadow:
          0 0 10px rgba(0, 123, 255, .7),
          0 0 40px rgba(0, 123, 255, .7),
          0 0 100px rgba(0, 123, 255, .7);
}

.btn-green {
    color: green;
    font-weight: 900;
    font-size: 1.2rem;
}
    .btn-green:hover,
    .btn-operator-clr:hover {
        text-shadow:
          0 0 5px rgba(0, 123, 255, .7),
          0 0 20px rgba(0, 123, 255, .7),
          0 0 60px rgba(0, 123, 255, .7);
        background:
    linear-gradient(to top right   ,var(--green)) top    right,
    linear-gradient(to top left    ,var(--green)) top    left,
    linear-gradient(to bottom right,var(--green)) bottom right,
    linear-gradient(to bottom left ,var(--green)) bottom left, rgba(106, 71, 186, 0.1);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    }

/* media queries */
@media (min-width: 43rem) {

.ui-interface {
    width: 360px;
    height: 360px;
    margin-top: 1rem;
}

.display {
    width: 200px;
    height: 60px;
    border: 2px solid var(--primary-dark);
    background-color: #053544;
    padding-right: .7rem;
}

.big-calc {
    font-size: 1.36rem;
    height: 30px;
    margin-bottom: 4px;
}
.small-calc {
    color: rgba(20, 25, 25, .8);
    font-size: .7rem;
    height: 25px;
    margin-top: 4px;
}

.display-shadow {
    position: absolute;
    width: 215px;
    height: 70px;
    background-color: #001;
    z-index: 2;
    border-radius: 20px;
}

.outer-circle {
    width: 380px;
    height: 380px;
}


.cross1,
.cross2 {
    width: 380px;
    height: 18px;
}

.outer-transparent-circle {
    width: 275px;
    height: 275px;
}


.medium-inner-circle {
    width: 230px;
    height: 230px;
}

.small-inner-circle {
    width: 200px;
    height: 200px;
}

.smallest-inner-circle {
    width: 170px;
    height: 170px;
}

.inner-transparent-circle {
    width: 160px;
    height: 160px;
}

.inner-display-border-circle {
    width: 161px;
    height: 161px;
}

.small-circle {
    left: 55px;
}
.small-circle,
.small-circle2 {
    top: 20px;
    width: 28px;
    height: 28px;
}

.small-circle2 {
    left: 79px;
}



.keypad {
    gap: 2rem;
    padding: 1rem;
    place-items: center;
    width: 550px;
    top: -60px;
}

.keys {
    width: 70px;
    height: 50px;
}

.btn0 {
    width: 190px;
}
.btnEqual {
    height: 136px;
}

}
/* mobiles in landscape mode */
@media (min-width: 43rem) and (max-height: 450px) {
    .ui-container {
        flex-direction: row;
        margin: 0;
        max-width: none;
    }

    .keypad {
        top: 0;
    }

}

@media (min-width: 62rem) {

    .ui-container {
        flex-direction: row;
        max-width: none;
    }

    .display {
        height: 80px;
    }
    
    .big-calc {
        font-size: 1.46rem;
    }
    .small-calc {
        font-size: .9rem;
    }

    .display-shadow {
        height: 90px;
    }

    .outer-circle {
        width: 420px;
        height: 420px;
    }


    .cross1,
    .cross2 {
        width: 420px;
        height: 20px;
    }

    .outer-transparent-circle {
        width: 295px;
        height: 295px;
    }


    .medium-inner-circle {
        width: 250px;
        height: 250px;
    }

    .small-inner-circle {
        width: 220px;
        height: 220px;
    }

    .smallest-inner-circle {
        width: 190px;
        height: 190px;
    }

    .inner-transparent-circle {
        width: 180px;
        height: 180px;
    }

    .inner-display-border-circle {
        width: 181px;
        height: 181px;
    }


    .keypad {
        gap: 1rem;
        width: 450px;
        top: 0px;
    }

}

/* Keyframes */

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotateLeft {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes neon {
    from {
        background-color: rgb(156, 130, 145);
    }
    to {
        box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px yellow,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px blue,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;
    }
}

@keyframes crossLeft {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes crossRight {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-45deg);
    }
}

@keyframes neonRed {
    from {
        box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px yellow,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px blue,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;
    }
    to {
        box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px yellow,
    inset -20px 0 80px rgb(220, 151, 151),
    inset 20px 0 300px rgb(195, 64, 64),
    inset -20px 0 300px rgb(236, 6, 6),
    0 0 50px #fff,
    -10px 0 80px rgb(251, 4, 4),
    10px 0 80px rgb(253, 2, 2);
    }
}